:root {
  --color-1: #141414;
  --color-2: #242424;
  --color-3: #fda0a0;
  --color-4: #fcfcfc;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

div {
  transition: 0.2s;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  background: var(--color-1);
  color: var(--color-4);
  font-family: Arial, Helvetica, sans-serif;
}

#menu {
  transition: 0.5s;
  position: fixed;
  width: 300px;
  left: -100vw;
  top: 150px;
  background: var(--color-2);
  border-radius: 10px;
  padding: 10px 0;
  z-index: 100;
}

#menu ul {
  list-style: none;
}

#menu.open {
  left: 20px;
}

#menu ul li {
  margin: 10px;
  padding: 20px;
  font-size: 20px;
  color: var(--color-3);
  font-weight: 600;
  border-bottom: 2px dashed var(--color-3);
  margin: 0 20px;
}

#menu ul a:last-child li {
  border-bottom: 0;
}

.header {
  position: fixed;
  top: 0px;
  background: var(--color-2);
  height: 120px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
}

.header #themeSwitch {
  font-family: NerdFont;
  font-size: 50px;
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  user-select: none;
}

.header #openMenu {
  font-family: NerdFont;
  font-size: 50px;
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  user-select: none;
}

.content {
  padding: 50px;
  margin-top: 100px;
}

.content .title {
  font-size: 50px;
  font-weight: 600;
  margin-bottom: 20px;
}

.content .subtitle {
  font-size: 25px;
  margin: 20px 0;
}

.content .subtitle a {
  font-weight: 600;
  color: var(--color-3);
  line-height: 40px;
}

.content .text {
  font-size: 20px;
  line-height: 30px;
}
.content .text ul {
  list-style: unset;
  padding-left: 20px;
  margin: 10px;
}
.social {
  font-size: 20px;
  margin-top: 20px;
}
.social a {
  font-family: NerdFont;
  font-size: 50px;
  margin: 0 10px;
}

#clearWebStorage {
  background: var(--color-2);
  border-radius: 100vw;
  border: 0;
  padding: 20px 40px;
  font-size: 20px;
  margin: 20px 0;
  cursor: pointer;
  color: var(--color-4);
}

#clearWebStoragePopup {
  transition: 0.5s;
  position: fixed;
  top: -200px;
  left: calc(50% - 125px);
  width: 250px;
  padding: 20px 40px;
  background: var(--color-3);
  color: var(--color-1);
  border-radius: 10px;
}

#clearWebStoragePopup.open {
  top: 30px;
}

@font-face {
  font-family: NerdFont;
  src: url("../fonts/NerdFont.ttf") format("truetype");
}
