:root {
    --content: #141414;
    --content-background: #fcfcfc;
    --content-link: #ff0000cb;

    --menu: #ffffff;
    --menu-background: #000000e3;
    --menu-link: #ffffff;
    --menu-text: 1.2rem;
}

* {
    box-sizing: border-box;
}

a.c {
    color: var(--content-link);

    font-weight: bolder;
    text-decoration: none;
}

a.m {
    color: var(--menu-link);

    text-decoration: none;
}

a.m:hover {
    font-size: calc( var(--menu-text) + 0.1rem );
}

html, body {
    height: 100%;
    margin: auto;
}

.content {
    background-color: var(--content-background);
    float: left;
    height: 100%;
    width: 85%;

    color: var(--content);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3rem;
    padding-left: 1rem;
    text-align: left;
}

.menu {
    background-image: linear-gradient( var(--menu-background), var(--content-background) );
    float: left;
    height: 100%;
    width: 15%;

    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: var(--menu-text);
    line-height: calc( var(--menu-text) * 1.6 );
    padding-left: calc( var(--menu-text) / 15 );
    text-align: left;
}

.row {
    height: 100%;
    width: 100%;
}

ul.m {
    list-style: none;
}

ul.c {
    line-height: 1.8rem;
}